/* Colors */
$black : #000000;
$white: #ffffff;
$gray1: #EFF0F4;
$gray2: #F9FAFC;
$orange: #DF6431;
$gray3: #ABB5BE;
$lightGreen: #8BB770;
$gray4: #68717A;
$black1: #262738;
$blue1: #0082B6;
$blue2: #1a8bed;
$bg : #F9FAFC;

/** Chat */
$chatBorder : #DEE2E6;
$chatToolbarColor : #F8F8F8;